{{ define "start-edit-modal" }}
{{/* Edit modal wrapper - the whole thing */}}
<div class="flex flex-row items-stretch justify-around w-full shadow-xl bg-white mb-6">
    {{/* First 3rd on the left which is the title and information */}}
    <div class="w-1/3 bg-gray-100 border-r border-gray-400 p-4">
        <h2 class="text-4xl font-black text-gray-900">{{ . }}</h2>
{{ end }}