{{ define "header" }}
<header class="flex items-center justify-between px-4 py-4 bg-gray-200">
    <div>
        <h1 class="text-4xl"><a href="/">Playlist Rotator</a></h1>
    </div>
    <div>
        <a href="{{ . }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
            {{ if eq . "/logout" }}
            Logout
            {{ else }}
            Login With Spotify
            {{ end }}
        </a>
    </div>
</header>
{{ end }}