{{ template "head" "New Playlist" }}
{{ template "header" "/logout" }}
<p>Go back <a href="/">Home</a>.</p>
<form method="POST" action="new-playlist">
	<h1>New Playlist</h1>
	<label>Name</label>
	<input type="text" name="playlistName" maxlength="255" value="{{ .Name }}"/>
	<input type="submit" name="submit" value="Save"/>
</form>
{{ if .Saved }}
<p>Saved</p>
{{ end }}
{{ template "foot" }}
