{{ template "head" dict "Title" "Dashboard" "Env" .Env}}
{{ template "header" "/logout" }}
{{ if eq (len .Playlists) 0 }}
    {{ template "dashboard-empty" }}
{{ else }}
    {{ template "dashboard-used" . }}
{{ end }}
{{ template "foot" }}
