{{ template "head" "Home" }}
{{ template "header" "/logout" }}
{{/* TODO flip logic */}}
{{ if eq (len .Playlists) 0 }}
    {{ template "home-empty" }}
{{ else }}
    {{ template "home-used" . }}
{{ end }}
{{ template "foot" }}
