{{ template "head" dict "Title" "Mobile Not Supported" "Env" .Env }}
<div class="h-full">
    <h1 class="text-2xl text-gray-900 mx-auto my-4 text-center">Mobile support is still under development.</h1>
    <h1 class="text-2xl text-gray-900 mx-auto text-center">Please switch to a desktop view.</h1>
</div>
{{ template "foot" }}
